CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/Makefile2
CMakeFiles/CMakeError.log
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.dir
*.cmake
libv4l2cpp/liblibv4l2cpp.a
libv4l2cpp/CMakeFiles/libv4l2cpptest.dir/flags.make
CMakeFiles/CMakeOutput.log
liblibv4l2rtspserver.a
v4l2rtspserver
